<div class="character">
  <p>
    <img class="image"src="<%= @article.image_url %>"/>
  </p>
<p class="header">
  <%= @article.title %>
</p>

<p>

  <%= @article.text %>
</p>

<h2>Characters</h2>
<%= render @article.comments %>


<h2>Add a Character:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>
